@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
:root,
[data-theme] {
  background: hsl(var(--b2));
}

body {
  min-height: 100vh;
  font-family: 'Space Grotesk', sans-serif;

}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}


.type-wrap {
  margin: 10px auto;
  padding: 20px;
  background: #f0f0f0;
  border-radius: 5px;
  border: #CCC 1px solid;
  min-height: 160px;
  width: 33%;
}

